/* src/components/MainContent.css */
/* Importa los estilos de slick-carousel */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.main-content {
  padding: 40px 20px;
  background-image: url('https://www.beetlejuicemovie.com/images/share.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white; /* Asegúrate de que el texto sea visible sobre el fondo */
  text-align: center;
  min-height: 100vh; /* Para asegurarte de que la sección cubra toda la altura de la pantalla */
}
